name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'
      - name: Cache Go modules
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
      - name: Run unit tests
        run: go test ./... -v -cover -tags='!integration'
      - name: Run integration tests
        run: go test ./... -v -tags=integration

  build_and_push:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push images (create/read/update/delete)
        env:
          GITHUB_REGISTRY: ${{ secrets.GITHUB_REGISTRY }}
          DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
        run: |
          docker buildx build --platform linux/amd64 -t ${{ env.GITHUB_REGISTRY }}/p-go-create:create -f ./cmd/create/Dockerfile ./ --push
          docker buildx build --platform linux/amd64 -t ${{ env.GITHUB_REGISTRY }}/p-go-create:read -f ./cmd/read/Dockerfile ./ --push
          docker buildx build --platform linux/amd64 -t ${{ env.GITHUB_REGISTRY }}/p-go-create:update -f ./cmd/update/Dockerfile ./ --push
          docker buildx build --platform linux/amd64 -t ${{ env.GITHUB_REGISTRY }}/p-go-create:delete -f ./cmd/delete/Dockerfile ./ --push
      - name: Trivy scan (scan created images)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ secrets.GITHUB_REGISTRY }}/p-go-create:create

